/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1/05/2018, 09:43:31 AM
    Author     : José Ríos
*/
body{
    background: url(Fondo.png);
    background-size: 1400px;
}
.panel-lateral{
    background: #f4f4f4;
    display: flex;
    position: fixed;
    left: 0%;
    top:0%;
    width: 226px;
    height: 100%;
    align-items: center;
    text-align: center;
}
.panel-central{
    display: flex;
    position: absolute;
    left: 25%;
    top:0%;
    width: 680px;
    text-align: center;
}
.userName{
    font-family: Arial;
    font-size: 20px;
    display: flex;
    position: absolute;
    top:3%;
    text-align: center;
    text-decoration: none;
    color: #000000;
}
.actual{
    font-family: Arial;
    font-size: 20px;
    display: flex;
    position: absolute;
    text-align: center;
    background: #bbbbbb;
    width: 226px;
    top:50%;
    text-decoration: none;
    color: #000000;
}
.opcion{
    font-family: Arial;
    font-size: 20px;
    display: flex;
    position: absolute;
    text-align: center;
    width: 226px;
    text-decoration: none;
    color: #000000;
}
.cerrar{
    font-family: Arial;
    font-size: 20px;
    display: flex;
    position: absolute;
    text-align: center;
    width: 226px;
    text-decoration: none;
    top: 580px;
    left:55px;
}
#opcion1{
    top: 30%;
}
#opcion2{
    top: 40%;
}
#opcion3{
    top: 20%;
}
#opcion4{
    top: 70%;
}
#salir{
    font-family: Arial;
    font-size: 20px;
    display: flex;
    position: absolute;
    top:90%;
    text-align: center;
    background: #ffdc5e;
    width: 150px;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.barra-busqueda{
    display: flex;
    position: absolute;
    top: 10px;
    left: 190px;
    width: 300px;
    border-style: none;
    color: #ffffff;
    background: #5b5b5b;
    border-radius: 3px;
    font-family: arial;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.publications{
    font-family: Arial;
    display: flex;
    position: absolute;
    top: 100px;
}
#icono-buscar{
    display: flex;
    position: absolute;
    top: 12px;
    left: 500px;
}
.sedes{
    display: flex;
    position: absolute;
    width: 200px;
    top: 150px;
}
#sedeB{
    left: 220px;
}
#sedeC{
    left: 440px;
}
.SAP1, .SAP2, .SAP3, .SAP4{
    top:370px;
    left:45px;
    display: flex;
    position: absolute;
    font-family: Arial;
    font-size: 20px;
    text-decoration: none;
    color: #25aae1;
}
.SB{
    top:370px;
    left:265px;
    display: flex;
    position: absolute;
    font-family: Arial;
    font-size: 20px;
    text-decoration: none;
    color: #25aae1;
}
.SAP1, #SBP1{
    top: 370px;
}
.SAP2, #SBP2{
    top: 390px;
}
.SAP3, #SBP3{
    top: 410px;
}
.SAP4, #SBP4{
    top: 430px;
}
#SBP5{
    top: 450px;
}
#SBP6{
    top: 470px;
}
.A{
    display: flex;
    position: absolute;
    font-family: Arial;
    font-size: 15px;
    top: 100px;
    left: 10px;
}
.B{
    display: flex;
    position: absolute;
    font-family: Arial;
    font-size: 15px;
    top: 100px;
    left: 240px;
}
.C{
    display: flex;
    position: absolute;
    font-family: Arial;
    font-size: 15px;
    top: 100px;
    left: 470px;
}